<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
<h1>ようこそ</h1>
<p>
    <a href="/login">ログイン</a><br />

<div class="LoginCallOut js-login-call-out roaming-module roaming-top-module">
    <div class="LoginCallOut-header">
        <h3 class="">新規登録</h3>
    </div>
    <form role="form" th:action="@{'/doRegister/'}" th:object="${accountRegisterForm}" method="post">
        <div class="LoginForm-input LoginForm-accountame">
            <input type="text" class="text-input accountame-input js-signin-email" th:field="*{accountDisplayId}" placeholder="アカウント名" />
        </div>

        <div class="LoginForm-input LoginForm-username">
            <input type="text" class="text-input email-input js-signin-email" th:field="*{email}" placeholder="メールアドレス" />
        </div>

        <div class="LoginForm-input LoginForm-password">
            <input type="password" class="text-input" th:field="*{password}" placeholder="パスワード" />
        </div>

        <div class="LoginForm-rememberForgot">
            <label>
                <button type="submit" class="btn btn-primary">ユーザー登録</button>
            </label>
        </div>
    </form>
</div>
</p>
</body>
</html>